<div class="container">
  <div class="center jumbotron">
    <h1>Like ice age eats?</h1>
    <p>Join now and find out how you can make meals and munchies to feed all of your megafauna!</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
  </div>
</div>