<!DOCTYPE html>
<html>
<head>
  <title>Pleistocene Cuisine</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<header>
  <nav class="navbar navbar-default navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="home">
        <img alt="Brand" src="http://i.imgur.com/VLK7Df9.png">
      </a>
      <div class="col-lg-4">
        <div class="input-group navbar-right">
          <input type="text" class="form-control" placeholder="Search for...">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button">Go!</button>
          </span>
        </div><!-- /input-group -->
      </div><!-- /.col-lg-4 -->
      <ul class="navbar-right">
        <button type="button" class="btn btn-default navbar-btn">Sign up!</button>
        <button type="button" class="btn btn-default navbar-btn">Log in</button>
      </ul>
        
    </div>
  </div>
</nav>
</header>
<body>

<%= yield %>

<div class="footer">
  <p>&copy CodingWithPaws 2015</p>
</div>  

</body>
</html>
